[submodule "deps/Module-cpp-config"]
	path = deps/Module-cpp-config
	url = ../../artur/cpp-config.git
[submodule "deps/Module-cpp-logger"]
	path = deps/Module-cpp-logger
	url = ../../artur/cpp-logger.git
[submodule "versioner"]
	path = versioner
	url = ../../artur/versioner.git
